*.swp
*.pyc
.DS_Store
/.coverage
/dist/
/build/
/.tox/
/venv
*.idea/
/*.egg/
/.cache/
/.pytest_cache/

### JetBrains
.idea/
*.iml
*.ipr
*.iws
coverage/
client/node_modules

### vscode
.vscode

### SQLite
*.sqlite3.part
*.sqlite3

### Env
poetry.lock
/.venv/
.env
/logs/
*.log
